<!-- produkte-list.component.html (only changed the checkbox logic) -->
<div class="container fade-in">
  <!-- EXACTLY THE SAME HEADER MARKUP AS BEFORE -->
  <div class="header">
    <div class="left-section">
      <button mat-raised-button class="neu-button" (click)="addProduct()">
        <mat-icon>widgets</mat-icon>
        Neu
      </button>
    </div>

    <div class="center-section">
      <span class="title">Produkte</span>
    </div>

    <div class="right-section">
      <div class="checkbox-container">
        <mat-checkbox
          class="inkle-inactive"
          color="primary"
          [(ngModel)]="showInactive"
          (change)="onCheckboxChange()">
          inkl. inaktive
        </mat-checkbox>
      </div>

      <mat-form-field appearance="outline">
  <input matInput placeholder="Suche" [(ngModel)]="searchTerm" (input)="filterData()">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
    </div>
  </div>
</div>


<!-- Rest of the template remains exactly the same -->

<div class="table-container">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    class="mat-elevation-z8"
    *ngIf="dataSource.data.length"
  >
    <!-- Column definitions with mat-sort-header -->
    <!-- KURZNAME -->
<ng-container matColumnDef="kurzName">
  <th mat-header-cell *matHeaderCellDef>
    Kurzname
    <span (click)="sortBy('kurzName', 'asc')">▲</span>
    <span (click)="sortBy('kurzName', 'desc')">▼</span>
  </th>
  <td mat-cell *matCellDef="let element">{{ element.kurzName || '-' }}</td>
</ng-container>

<!-- PRODUKTNAME -->
<ng-container matColumnDef="produktname">
  <th mat-header-cell *matHeaderCellDef>
    Produktname
    <span (click)="sortBy('produktname', 'asc')">▲</span>
    <span (click)="sortBy('produktname', 'desc')">▼</span>
  </th>
  <td mat-cell *matCellDef="let element">{{ element.produktname || '-' }}</td>
</ng-container>

<!-- START -->
<ng-container matColumnDef="start">
  <th mat-header-cell *matHeaderCellDef>
    Start
    <span (click)="sortBy('start', 'desc')">▲</span>
    <span (click)="sortBy('start', 'asc')">▼</span>
  </th>
  <td mat-cell *matCellDef="let element">
    {{ element.start | date : 'dd.MM.yyyy' }}
  </td>
</ng-container>

<!-- ENDE -->
<ng-container matColumnDef="ende">
  <th mat-header-cell *matHeaderCellDef>
    Ende
    <span (click)="sortBy('ende', 'desc')">▲</span>
    <span (click)="sortBy('ende', 'asc')">▼</span>
  </th>
  <td mat-cell *matCellDef="let element">
    {{ element.ende | date : 'dd.MM.yyyy' }}
  </td>
</ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [class.inactive-row]="!row.aktiv"
    ></tr>
  </table>
</div>
